<section class="about__section__mainContent">
  <div class="about__section__contentBorder">
  <div class="about__section__contentContainer">
    <header class="about__section__header">
      <h2>
        About
      </h2>
    </header>
      <p>DS Luxury Travel is a small and intimate executive car hire service run and operated by myself.</p>
      <p>I am a retired Police Officer and during my career I gained much experience in customer service, as well as receiving advanced driver training.</p>
      <p>I strive to meet the exacting standards demanded by my clientele, providing a personal experience tailored to their requirements.</p>
      <p>You can rest assured that I am fully licensed through Rother District Council, my vehicle is maintained to the highest standard and I have a clear DBS (criminal record check).</p>
    </div>
    </div>
  <footer class="about__section__footer">
  RELIABLE - PROFESSIONAL - COMPETITIVELY PRICED - FULLY INSURED AND LICENSED
  </footer>
</section>
