<div class="about__splash__continue">
  <a href="#top"><div class="arrow-up"></div></a>
  <a href="#services">
    Scroll down to see the services I offer
    <div class="arrow-down"></div>
  </a>
</div>
