<section class="contact__section__mainContent">
  <div class="contact__section__contentBorder">
  <div class="contact__section__contentContainer">
    <header class="contact__section__header">
      <h2>
        Contact me
      </h2>
    </header>
      <div class="contact__content__form__div">
        <p>Please call me on <a href="tel:+447492727377">+44 (0)7492 727 377</a> to discuss your requirements.  Alternatively, please fill in your details below and I'll get back to you.</p>
        {{msg}}
        <p>{{>contactForm}}</p>
      </div>
    </div>
    </div>
  <footer class="contact__section__footer">
  RELIABLE - PROFESSIONAL - COMPETITIVELY PRICED - FULLY INSURED AND LICENSED
  </footer>
</section>
