<section class="contact__section__mainContent">
  <div class="contact__section__contentBorder">
  <div class="contact__section__contentContainer">
    <header class="contact__section__header">
      <h2>
        Contact me
      </h2>
    </header>
      <p>Fill in your details below and I'll get back to you.</p>
      {{msg}}
      <p>{{>contactForm}}</p>
    </div>
    </div>
  <footer class="contact__section__footer">
  RELIABLE - PROFESSIONAL - COMPETITIVELY PRICED - FULLY INSURED AND LICENSED
  </footer>
</section>
