<section class="home__section__mainContent">
  <div class="home__section__contentBorder">
  <div class="home__section__contentContainer">
    <header class="home__section__header">
      <h2>
        Comfort and luxury combined
      </h2>
    </header>
      <p>Executive Private Hire based in Peasmarsh near Rye, East Sussex.</p>
      <p>Your own Private Chauffeur available for pre-book services.</p>
    </div>
    </div>
  <footer class="home__section__footer">
  RELIABLE - PROFESSIONAL - COMPETITIVELY PRICED - FULLY INSURED AND LICENSED
  </footer>
</section>
