<ul class="page__nav__ul">
  <li class="page__nav__li"><a href="#about" class="page__nav__about__a">About</a></li>
  <li class="page__nav__li"><a href="#services" class="page__nav__services__a">Services</a></li>
  <li class="page__nav__li"><a href="#prices" class="page__nav__prices__a">Prices</a></li>
  <li class="page__nav__li"><a href="#contact" class="page__nav__contact__a">Contact</a></li>
</ul>
<div class="page__nav__contact__div">
  <div class="page__nav__contact__phone__div">
    <a href="tel:+447492727377">+44 (0)7492 727 377</a>
  </div>
  <div class="page__nav__contact__social__div">
    <a href="fblink"><img src="/img/fb_logo.png" alt="Facebook logo" /></a>
  </div>
</div>
<div class="page__nav__phone__div"></div>
<div class="page__nav__reveal__div"></div>
