<head>
  <title>{{pageTitle}}</title>
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#04294b">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icon144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon72.png">
  <link rel="apple-touch-icon-precomposed" href="/icon57.png">
  <link rel="icon" type="image/png" href="/icon32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/icon16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/icon64.png" sizes="64x64">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#04294b">
  <meta name="msapplication-TileColor" content="#04294b">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#04294b">
  <link href="/css/main.css" rel="stylesheet" media="screen" />
  <script language="JavaScript" type="text/javascript" src="/js/ie_html5_elements.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/main.js"></script>
  <script language="JavaScript" type="text/javascript" src="/js/retina.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="/js/jquery.mobile.custom.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
