<a href="/" class="page__header__a">
  <h1 title="DS Luxury Travel" class="page__header__h1">
    <img src="/img/ds_logo.png" class="page__header__img" height="135px" width="293px" alt="DS Luxury Travel">
    <span class="page__header__span">DS Luxury Travel<span>
  </h1>
</a>
