<div class="prices__splash__continue">
  <a href="#services"><div class="arrow-up"></div></a>
  <a href="#contact" class="scroll">
    Scroll down to get in touch with me
    <div class="arrow-down"></div>
  </a>
</div>
