<section class="prices__section__mainContent">
  <div class="prices__section__contentBorder">
  <div class="prices__section__contentContainer">
    <header class="prices__section__header">
      <h2>
        Prices
      </h2>
    </header>
      <p>All pricing is bespoke depending on the individual requirements of the customer, time of travel and any subsequent expenditure (London congestion charge, QE2 Bridge toll at Dartford, Airport parking etc).</p>
      <p>This executive vehicle is the largest Mercedes Benz currently on the market.  The Mercedes Benz S350 is a step up from the more commonly used E Class taxi.  It is for this reason and the cost involved in providing such a luxurious car that my prices are likely to be higher than for other locally sourced private hire executive vehicles.  I will however do my best to offer you a competitive private hire quote and provide you with a memorable experience. </p>
    </div>
    </div>
  <footer class="prices__section__footer">
  RELIABLE - PROFESSIONAL - COMPETITIVELY PRICED - FULLY INSURED AND LICENSED
  </footer>
</section>
