<section class="services__section__mainContent">
  <div class="services__section__contentBorder">
  <div class="services__section__contentContainer">
    <header class="services__section__header">
      <h2>
        Services
      </h2>
    </header>
      <p>I welcome enquiries from any customer requiring my services as an executive hire chauffeur.  </p>
      <p>My current vehicle is a black <strong>Mercedes Benz S350</strong> long wheelbase which is extremely comfortable, refined and economical.  This executive Mercedes can seat a maximum of four passengers and has a large luggage compartment. </p>
      <p>The car seats are all electrically adjustable and heated, and I provide a complementary newspaper and bottled water for your journey.  I can also provide a child's booster seat when required (as per current government guidelines - see <a href="https://www.gov.uk/child-car-seats-the-rules/using-a-child-car-seat-or-booster-seat" target="_blank">www.gov.uk</a>)</p>
      <p>I would be happy for the car to be viewed prior to accepting a booking.</p>

      <p>I provide my services for:</p>
      <ul>
        <li>Airport transfers</li>
        <li>Wedding car hire</li>
        <li>Corporate transport</li>
        <li>Ferry Port transfers</li>
        <li>School Prom vehicle</li>
        <li>... <em>and much more</em>.</li>
      </ul>
      <p>The list is non exhaustive so if your requirements are not listed, don't be afraid to submit your specific request for a personalised quotation.</p>
    </div>
    </div>
  <footer class="services__section__footer">
  RELIABLE - PROFESSIONAL - COMPETITIVELY PRICED - FULLY INSURED AND LICENSED
  </footer>
</section>
