<div class="services__splash__continue">
  <a href="#about"><div class="arrow-up"></div></a>
  <a href="#prices" class="scroll">
    Scroll down to find out about my pricing
    <div class="arrow-down"></div>
  </a>
</div>
