<a name="top"></a>
<div class="home__splash">
  <div class="home__gradient">
    <header class="home__header">
      {{>pageHeader}}
    </header>
    <aside class="page__aside">
      <div class="page__aside__contact__div">
        <div class="page__aside__contact__phone__div">
          <a href="tel:+447492727377">+44 (0)7492 727 377</a>
        </div>
        <div class="page__aside__contact__social__div">
          <a href="http://www.facebook.com/DS-Luxury-Travel-232169793792329" target="_fb"><img src="/img/fb_logo.png" alt="Facebook logo" /></a>
        </div>
      </div>
      <nav>
      {{>pageNav}}
      </nav>
    </aside>
    {{>homeContent}}
  </div>
  <footer>
  {{>homeContinue}}
  </footer>
</div>

<div class="about__splash">
<a name="about"></a>
  <div class="about__gradient">
    {{>aboutContent}}
  </div>
  <footer>
  {{>aboutContinue}}
  </footer>
</div>

<div class="services__splash">
<a name="services"></a>
  <div class="services__gradient">
    {{>servicesContent}}
  </div>
  <footer>
  {{>servicesContinue}}
  </footer>
</div>

<div class="prices__splash">
<a name="prices"></a>
  <div class="prices__gradient">
    {{>pricesContent}}
  </div>
  <footer>
  {{>pricesContinue}}
  </footer>
</div>

<div class="contact__splash">
<a name="contact"></a>
  <div class="contact__gradient">
    {{>contactContent}}
  </div>
  <footer>
  {{>contactContinue}}
  </footer>
</div>

